{% extends 'base.html' %}
{% load static %}
{% block content %}

    <section class="hero-section hero-section-flexible">
        <img src="{% static 'assets/zoco-hero.png' %}" alt="ZOCO Hero" class="hero-bg">
        <div class="hero-overlay"></div>

        <div class="hero-content-1">
            <div class="glass hero-box scroll-reveal visible">
                <h2 class="hero-title font-heading" style="margin-bottom: 2rem;">Update Password</h2>
                <form method="post" action="{% url 'update_password' %}">
                    
                    {% csrf_token %}
                    <div class="form-group font-heading">
                        <label style="font-weight: bold; margin-bottom: 0.5rem;">Old Password</label>
                        {{ form.old_password }}
                    </div>

                    <div class="form-group font-heading">
                        <label style="font-weight: bold; margin-bottom: 0.5rem;">New Password</label>
                        {{ form.new_password1 }}
                    </div>

                    <div class="form-group font-heading">
                        <label style="font-weight: bold; margin-bottom: 0.5rem;">Confirm New Password</label>
                        {{ form.new_password2 }}
                    </div>
                    <br>
                    <button type="submit" class="login-butn">Update Password</button>
                </form>
            </div>
        </div>

        <div class="hero-vertical-text">
            ZOCO COLLECTION 2026
        </div>
    </section>
{% endblock %}